<div class="authentication-container" role="main">
  <div class="authentication-container__intro">
    <h1 id="auth-heading">{{ "authentication" | translate }}</h1>
    <p id="login-instructions">{{ "login-instruction--label" | translate }}</p>
  </div>

  <auth-form
    [isAuthenticationPage]="true"
    [isSignupPage]="false"
    [labels]="{
      authenticationButtonLabel: 'authentication--button' | translate,
      signupAccessButtonLabel: 'signup-access--button' | translate,
      emailLabel: 'email--label' | translate,
      emailPlaceholder: 'email--placeholder' | translate,
      emailRequiredLabel: 'email-required--label' | translate,
      emailErrorLabel: 'email-error--label' | translate,
      passwordLabel: 'password--label' | translate,
      passwordPlaceholder: 'password--placeholder' | translate,
      passwordRequiredLabel: 'password-required--label' | translate,
    }"
    (loginEvent)="login($event)"
    (accessSignupPageEvent)="accessSignupPage()"
  ></auth-form>
</div>
