/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  .mdc-snackbar__surface {
    background-color: #4caf50 !important;
  }

  .mdc-snackbar__label,
  .mat-mdc-button {
    color: white !important;
  }
}

.error-snackbar {
  .mdc-snackbar__surface {
    background-color: #f44336 !important;
  }

  .mdc-snackbar__label,
  .mat-mdc-button {
    color: white !important;
  }
}
