.my-music-vault {
  display: flex;
  flex-direction: column;
}

.my-music-vault-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--gray-100);

  &__logout {
    cursor: pointer;
    color: var(--red-500);
    font-weight: bold;
  }
}
