.signup-container {
  text-align: center;

  &__link {
    display: inline-block;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
