<div class="signup-container" role="main">
  <h1 id="signup-heading">
    {{ "signup--title" | translate }}
  </h1>
  <p
    *ngIf="emailSignedup"
    [innerHTML]="'confirm-signup--text' | translate : { email: emailSignedup }"
  ></p>
  <auth-form
    [isAuthenticationPage]="false"
    [isSignupPage]="true"
    (signupEvent)="signup($event)"
    [labels]="{
      signupButtonLabel: 'signup--button' | translate,
      signupAccessButtonLabel: 'signup-access--button' | translate,
      emailLabel: 'email--label' | translate,
      emailPlaceholder: 'email--placeholder' | translate,
      emailRequiredLabel: 'email-required--label' | translate,
      emailErrorLabel: 'email-error--label' | translate,
      passwordLabel: 'password--label' | translate,
      passwordPlaceholder: 'password--placeholder' | translate,
      passwordRequiredLabel: 'password-required--label' | translate,
      passwordPatternErrorLabel: 'password-pattern-error--label' | translate,
      confirmPasswordLabel: 'confirm-password--label' | translate,
      confirmPasswordPlaceholder: 'confirm-password--placeholder' | translate,
      confirmPasswordRequiredLabel:
        'confirm-password-required--label' | translate,
      confirmPasswordMismatchLabel:
        'confirm-password-mismatch--label' | translate
    }"
  >
  </auth-form>
  <a
    (click)="accessLoginPage()"
    (keydown.enter)="accessLoginPage()"
    class="signup-container__link"
    tabindex="0"
    >{{ "login-access--label" | translate }}</a
  >
</div>
